.animated {
  animation-fill-mode(both)
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration(200ms)
  animation-name(fadeIn)
  display: block;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  /* duration must be equal to setTimeout delay for .hide */
  animation-duration(1s)
  animation-name(fadeOut)
}
