footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  background-color: #6e5494;
  font-size: 0.7em;
  color: white;

  a,
  a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: #66CEFF;
  }

  p {
    padding: 0 1em;
  }
}
