body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: $primary_color;
  text-decoration: none;
}

a:hover, a:visited {
  color: $accent_color;
}

button {
  border: 0;
  border-radius: 4px;
  background-color: $primary_color;
  color: white;
  box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
}

button:hover, button:focus {
  outline: none;
  background-color: $accent_color;
}

.hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}
