body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #6e5494;
  text-decoration: none;
}

a:hover,
a:visited {
  color: #66CEFF;
}

.hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}
