.main-content-area {
  margin-bottom: 3em;
}

.avatar {
  width: 50px;
  border-radius: 4px;
}

table {
  margin: auto;
}

th {
  padding: 0 3px;
  font-weight: bold;
  font-size: 0.8em;
}

td {
  max-width: 200px;
  padding: 0.5em;
  vertical-align: middle;
  font-size: 0.9em;
}

.title-col {
  max-width: 300px;
}

.centered-col {
  text-align: center;
}

.merged {
  font-weight: bold;
}
