animation-fill-mode(val) {
  -webkit-animation-fill-mode: val;
  -moz-animation-fill-mode: val;
  animation-fill-mode: val;
}

animation-duration(time) {
  -webkit-animation-duration: time;
  -moz-animation-duration: time;
  animation-duration: time;
}

animation-name(name) {
  -webkit-animation-name: name;
  -moz-animation-name: name;
  animation-name: name;
}

box-shadow(val) {
  -webkit-box-shadow: val;
  -moz-box-shadow: val;
  box-shadow: val;
}
