.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $accent_color;
  text-align: center;
  color: white;
}

.spinner {
  display: block;
  margin: auto;
}

p.spinner {
  max-width: 320px;
  font-size: 1.5em;
}
