/* Purple = 6e5494 */
/* Light Blue = 66CEFF */

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  color: #6e5494;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
}

input, button {
  display: block;
  margin: 0 auto 20px auto;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -moz-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
  color: #6e5494;
}

input {
  width: 320px;
  padding: 10px 0;
  border: 0;
  border-bottom: 3px solid #6e5494;
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
}

input::-webkit-input-placeholder {
  font-weight: lighter;
	color: rgba(79, 41, 88, 0.4);
}
input::-moz-placeholder {
  font-weight: lighter;
	color: rgba(79, 41, 88, 0.5);
}
input:-moz-placeholder {   /* Older versions of Firefox */
  font-weight: lighter;
	color: rgba(79, 41, 88, 0.5);
}
input:-ms-input-placeholder {
  font-weight: lighter;
	color: rgba(79, 41, 88, 0.5);
}

/*csslint outline-none:false */
input:focus {
  outline: none;
}

button {
  min-width: 160px;
  padding: 15px;
  border: 0;
  /*border: 3px solid white;*/
  border-radius: 0.25em;
  background-color: #6e5494;
  font-size: 1.5em;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

button:hover, button:focus {
  outline: none;
  background-color: #6e5494;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10% 25%;
  background-color: #66CEFF;
  text-align: center;
  color: white;
}

h4.spinner {
  max-width: 400px;
  margin: auto;
}

.spinner {
  display: block;
  margin: auto;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;
  display: block;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  /* duration must be equal to setTimeout delay for .hide */
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  animation-name: fadeOut;
}

.hide {
  display: none;
}

.main-content-area {
  margin-bottom: 3em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  background-color: #6e5494;
  font-size: 0.7em;
  color: white;
}

footer p {
  padding: 0 1em;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

.avatar {
  width: 50px;
}

table {
  margin: auto;
}

th {
  font-weight: bold;
}

td {
  padding: 0.5em;
  max-width: 300px;
  vertical-align: middle;
}

td a {
  color: #6e5494;
  text-decoration: none;
}

td a:visited {
  color: #66CEFF;
}

.merged {
  font-weight: bold;
}

td.status, td.date, td.adds-dels {
  text-align: center;
}
